<%= form_with(model: change_log_entry, local: true) do |form| %>
  <% if change_log_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(change_log_entry.errors.count, "error") %> prohibited this change from being saved:</h2>

      <ul>
      <% change_log_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :change_log_entry_description %>
  </div>

  <div class="field">
    <%= form.label :comment_id %>
    <%= form.number_field :comment_id, id: :change_log_entry_comment_id %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.number_field :category_id, id: :change_log_entry_category_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :change_log_entry_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
