<p id="notice"><%= notice %></p>

<h1>Change Log Entries</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Object changed</th>
      <th>Description</th>
      <th>Date</th>
      <% if current_user.admin? %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @change_log_entries.each do |change_log_entry| %>
      <tr>
        <td><%= change_log_entry.user.name %></td>
        <td>
          <% if current_user.read_only?
              com_path = comment_path(change_log_entry.comment) if change_log_entry.comment.present?
              cat_path = category_path(change_log_entry.category) if change_log_entry.category.present?
            else
              com_path = edit_comment_path(change_log_entry.comment) if change_log_entry.comment.present?
              cat_path = edit_category_path(change_log_entry.category) if change_log_entry.category.present?
            end %>
          <%= link_to "Comment ##{change_log_entry.comment.order_in_list} from #{change_log_entry.comment.first_name} #{change_log_entry.comment.last_name}", com_path if change_log_entry.comment.present? %>
          <%= link_to "Category ''#{change_log_entry.category.category_name}''", cat_path if change_log_entry.category.present? %>
        </td>
        <td><%= change_log_entry.description %></td>
        <td><%= change_log_entry.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Edit', edit_change_log_entry_path(change_log_entry) %></td>
          <td><%= link_to 'Delete', change_log_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Change Log Entry', new_change_log_entry_path %>
