<% provide(:title, 'Sign in') %>
<div class="col-md-4">
  <h1>Sign in</h1>
  <%= form_tag sessions_path, data: {turbo: false} do %>
    <% # need to have , data: {turbo: false}, otherwise turbo interferes with recaptcha if user clicks over to password reset  %>
    <div class="field">
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email]%>
    </div>
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <%= submit_tag "Sign in", class: "btn btn-large btn-primary" %>
  <% end %>
  <p><%= link_to "Forgot password", password_forgot_path %></p>
  <p>New user? Email <%=mail_to APPLICATION_HOST_EMAIL_ADDRESS, APPLICATION_HOST_NAME %> to be added to the system.</p>
</div>
