<% content_for :title, 'Show Category Response Type' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Response text:</strong>
  <%= @category_response_type.response_text %>
</p>

<p>
  <strong>Order in list:</strong>
  <%= @category_response_type.order_in_list %>
</p>

<%= link_to 'Edit', edit_category_response_type_path(@category_response_type) %> |
<%= link_to 'Back', category_response_types_path %>
