<% content_for :title, 'Rulemakings' %>

<h1>Rulemakings</h1>

<table>
  <thead>
    <tr>
      <th>Rulemaking name</th>
      <th>Agency</th>
      <th>Allow comments to be push imported from Outlook</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @rulemakings.each do |rulemaking| %>
      <tr>
        <td><%= rulemaking.rulemaking_name %></td>
        <td><%= rulemaking.agency %></td>
        <td class="<%="#{highlight_true(rulemaking.allow_push_import)}"%>"><%= show_boolean_value(rulemaking.allow_push_import) %></td>
        <td><%= link_to 'Edit', edit_rulemaking_path(rulemaking) %></td>
        <td><%= link_to 'Delete', rulemaking, method: :delete, data: { confirm: 'Are you sure you want to delete this rulemaking?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rulemaking', new_rulemaking_path %>
