<p id="notice"><%= notice %></p>

<p>
  <strong>Rulemaking name:</strong>
  <%= @rulemaking.rulemaking_name %>
</p>

<p>
  <strong>Agency:</strong>
  <%= @rulemaking.agency %>
</p>

<p>
  <strong>Active:</strong>
  <%= @rulemaking.active %>
</p>

<%= link_to 'Edit', edit_rulemaking_path(@rulemaking) %> |
<%= link_to 'Back', rulemakings_path %>
