<% content_for :title, 'Comment Data Sources' %>

<h1>Comment Data Sources</h1>

<table>
  <thead>
    <tr>
      <th>Data source name</th>
      <th>Description</th>
      <th>Comment download url</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comment_data_sources.each do |comment_data_source| %>
      <tr>
        <td><%= comment_data_source.data_source_name %></td>
        <td><%= comment_data_source.description %></td>
        <td><%= link_to comment_data_source.comment_download_url if comment_data_source.comment_download_url.present? %></td>
        <td class="<%="#{highlight_true(comment_data_source.active)}"%>"><%= show_boolean_value(comment_data_source.active) %></td>
        <td><%= link_to 'Edit', edit_comment_data_source_path(comment_data_source) %></td>
        <td><%= link_to 'Delete', comment_data_source, data: { "turbo-confirm": 'Are you sure? This will set comment_data_source = nil for all comments associated with this data source.', "turbo-method": :delete } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment Data Source', new_comment_data_source_path %>
