<p id="notice"><%= notice %></p>

<p>
  <strong>Data source name:</strong>
  <%= @comment_data_source.data_source_name %>
</p>

<p>
  <strong>String:</strong>
  <%= @comment_data_source.string %>
</p>

<p>
  <strong>Description:</strong>
  <%= @comment_data_source.description %>
</p>

<p>
  <strong>Comment download url:</strong>
  <%= @comment_data_source.comment_download_url %>
</p>

<p>
  <strong>Active:</strong>
  <%= @comment_data_source.active %>
</p>

<%= link_to 'Edit', edit_comment_data_source_path(@comment_data_source) %> |
<%= link_to 'Back', comment_data_sources_path %>
