<%= form_with(model: comment, local: true, url: form_url) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if comment.manually_entered && current_user.admin? %>
    <div class="field">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, id: :comment_first_name %>
    </div>

    <div class="field">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, id: :comment_last_name %>
    </div>

    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email, id: :comment_email %>
    </div>

    <div class="field">
      <%= form.label :organization %>
      <%= form.text_field :organization, id: :comment_organization %>
    </div>

    <div class="field">
      <%= form.label :state %>
      <%= form.text_field :state, id: :comment_state %>
    </div>

    <div class="field">
      <%= form.label :comment_text %>
      <%= form.text_area :comment_text, id: :comment_comment_text, cols: 300, rows: 5, class: 'bigtextarea' %>
    </div>

    <div>
      To manually enter an attachment, you must put the file on a folder all users can view, such as on Google drive.
      <div class="field">
        <%= form.label :attachment_name %>
        <%= form.text_field :attachment_name, id: :comment_attachment_name %>
      </div>

      <div class="field">
        <%= form.label :attachment_url %>
        <%= form.text_field :attachment_url, id: :comment_attachment_url %>
      </div>
    </div>

  <% else  %>
    <table class="read_only_parameters">
      <tbody>
        <tr><td>Order in List</td><td><%= comment.order_in_list%></td></tr>
        <tr><td>Data Source</td><td><%= comment.manually_entered ? "Manually entered" : "Imported from DAS comments website"%></td></tr>
        <tr><td>Name & Email</td><td><%= "#{comment.first_name + ' ' if comment.first_name.present?}#{comment.last_name}#{' <' + comment.email + '>' if comment.email.present?}"%></td>
        <tr><td>Organization and State</td><td><%= "#{comment.organization + ", " if comment.organization.present?}#{comment.state}" %></td>
        <tr><td>Comment</td><td><%= comment.comment_text%></td>
        <tr><td>Attachment</td><td><%= if comment.attachment_name.present? then link_to comment.attachment_name.to_s, comment.attachment_url end %></td>
      </tbody>
    </table>
  <% end  %>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_area :summary, id: :comment_summary, cols: 300, rows: 5, class: 'bigtextarea' %>
  </div>

  <div class="field">
    <div class="field">
      <%= form.label :categories, class: 'inline' %>
      <%= link_to 'Add', new_category_path, target: :_blank %> |
      <%= link_to 'Save and Refresh', "#", :onclick => "$(this).closest('form').submit()" %>
    </div>
    <%= select_tag "comment_categories", options_from_collection_for_select(@categories, 'id', 'category_name',@comment.categories.map{ |j| j.id }), :multiple => true %>
  </div>

  <div class="field">
    <%= form.label :comment_review_status %>
    <%= form.collection_select :comment_status_type_id, @comment_status_types, :id, :status_text, :selected => @comment.comment_status_type_id  %>
  </div>

  <div class="field">
    <%= form.label :status_details %>
    <%= form.text_field :status_details, id: :comment_status_details %>
  </div>

  <div class="actions">
    <%= form.submit "Save" %>
  </div>
<% end %>
