<%= form_with(model: comment, local: true, url: form_url) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if comment.manually_entered && current_user.admin_for?(current_rulemaking)%>

    <div class="actions">
      <%= form.submit "Save", class: "btn btn-large btn-primary" %>
    </div>

    <div class="field">
      <%= form.label :comment_data_source, "Comment data source" %>
      <%= form.collection_select :comment_data_source_id, @comment_data_sources, :id, :data_source_name, :selected => @comment.comment_data_source_id, include_blank: true  %>
    </div>

    <div class="field">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, id: :comment_first_name %>
    </div>

    <div class="field">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, id: :comment_last_name %>
    </div>

    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email, id: :comment_email %>
    </div>

    <div class="field">
      <%= form.label :organization %>
      <%= form.text_field :organization, id: :comment_organization %>
    </div>

    <div class="field">
      <%= form.label :state %>
      <%= form.text_field :state, id: :comment_state %>
    </div>

    <div class="field">
      <%= form.label :comment_text %>
      <%= form.text_area :comment_text, id: :comment_comment_text, cols: 300, rows: 5, class: 'bigtextarea' %>
    </div>

    <div class="field">
      <div> Already uploaded files:
        <% if comment.attached_files.count == 0 %>
          None
        <% else %>
          <% comment.attached_files.each do |af| %>
            <div>
              <%= link_to af.filename, af %>
              <%= link_to 'Delete', comments_delete_attachment_path(comment, af), method: :delete, data: { confirm: 'Are you sure you want to delete this attachment?' } %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="field">
      <%= form.file_field :attached_files, multiple: true %>
    </div>

    <div>
      If a file is already uploaded to a folder all users can view, such as on Google drive, you can enter it here.

      <% if comment.attachment_name.present? %>
        <div class="field">
          <b>Current link:</b> <%= (link_to comment.attachment_name, comment.attachment_url) %>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :attachment_name %>
        <%= form.text_field :attachment_name, id: :comment_attachment_name %>
      </div>

      <div class="field">
        <%= form.label :attachment_url %>
        <%= form.text_field :attachment_url, id: :comment_attachment_url %>
      </div>
    </div>

  <% else  %>
    <table class="read_only_parameters">
      <tbody>
        <tr><td>Order in List</td><td><%= comment.order_in_list%></td></tr>
        <tr><td>Comment Data Source</td><td><%= comment.comment_data_source.data_source_name if comment.comment_data_source.present? %></td></tr>
        <tr><td>Manually Entered?</td><td><%= comment.manually_entered %></td></tr>
        <tr><td>Name & Email</td><td><%= "#{comment.first_name + ' ' if comment.first_name.present?}#{comment.last_name}#{' <' + comment.email + '>' if comment.email.present?}"%></td>
        <tr><td>Organization and State</td><td><%= "#{comment.organization + ", " if comment.organization.present?}#{comment.state}" %></td>
        <tr><td>Comment</td><td><%= comment.comment_text%></td>
        <tr><td>Attachment</td><td><%= if comment.attachment_name.present? then link_to comment.attachment_name.to_s, comment.attachment_url end %></td>
      </tbody>
    </table>

    <div class="actions">
      <%= form.submit "Save", class: "btn btn-large btn-primary" %>
    </div>
  <% end  %>

  <div class="field">
    <%= form.label :num_commenters, "Number of commenters" %>
    <%= form.number_field :num_commenters, id: :comment_num_commenters, min: 1 %>
  </div>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_area :summary, id: :comment_summary, cols: 300, rows: 5, class: 'bigtextarea' %>
  </div>

  <div class="field">
    <div class="field">
      <%= form.label :suggested_changes, class: 'inline' %>
      <%= link_to 'Add', new_suggested_change_path, target: :_blank %> |
      <%= link_to 'Save and Refresh', "#", :onclick => "$(this).closest('form').submit()" %>
    </div>
    <%= select_tag "comment_suggested_changes", options_from_collection_for_select(@suggested_changes, 'id', 'suggested_change_name', @comment.suggested_changes.map{ |j| j.id }), multiple: true, class: "bootstrap-multiselect" %>
  </div>

  <div class="field">
    <%= form.label :comment_review_status %>
    <%= form.collection_select :comment_status_type_id, @comment_status_types, :id, :status_text, :selected => @comment.comment_status_type_id, include_blank: true  %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.trix_editor :notes, id: :comment_notes %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
