<%= form_with(model: comment, local: true, url: comment_path(comment,@filter_querystring)) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="read_only_parameters">
    <tbody>
      <tr><td>Source ID</td><td><%= comment.source_id %></td></tr>
      <tr><td>Name & Email</td><td><%= "#{comment.first_name + ' ' if comment.first_name.present?}#{comment.last_name}#{' <' + comment.email + '>' if comment.email.present?}"%></td>
      <tr><td>Organization and State</td><td><%= "#{comment.organization + ", " if comment.organization.present?}#{comment.state}" %></td>
      <tr><td>Comment</td><td><%= comment.comment_text%></td>
      <tr><td>Attachment</td><td><%= if comment.attachment_name.present? then link_to comment.attachment_name.to_s, comment.attachment_url end %></td>
    </tbody>
  </table>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_area :summary, id: :comment_summary, cols: 300, rows: 5, class: 'bigtextarea' %>
  </div>

  <div class="field">
    <%= form.label :comment_status_type_id %>
    <%= form.collection_select :comment_status_type_id, CommentStatusType.all, :id, :status_text, :selected => @comment.comment_status_type_id  %>
  </div>

  <div class="field">
    <div class="field">
      <%= form.label :categories, class: 'inline' %>
      <%= link_to 'Add', new_category_path, target: :_blank %> |
      <%= link_to 'Save and Refresh', "#", :onclick => "$(this).closest('form').submit()" %>
    </div>
    <%= select_tag "comment_categories", options_from_collection_for_select(Category.order(:order_in_list), 'id', 'category_name',@comment.categories.map{ |j| j.id }), :multiple => true %>
  </div>

  <div class="field">
    <%= form.label :action_needed %>
    <%= form.text_field :action_needed, id: :comment_action_needed %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
