<% content_for :title, 'Edit Comment' %>

<h1>Edit Comment</h1>

<div class="next-previous">
  <div>
    Filter: <%= @filtered ? @filter_querystring : 'none' %>
    | <%= link_to 'Back to Index', comments_path(@filter_querystring) %>
  </div>

  <div>
    <%= link_to("Previous Comment", edit_comment_path(@previous_comment,@filter_querystring), class: "btn btn-large btn-primary") if @previous_comment.present? %>
    <%= link_to("Next Comment", edit_comment_path(@next_comment,@filter_querystring), class: "btn btn-large btn-primary") if @next_comment.present? %>
  </div>
</div>

<%= render 'form', comment: @comment, form_url: comment_path(@comment,@filter_querystring) %>

<%= link_to 'Index', comments_path(@filter_querystring) %>

<div class="change-log-entries-box">
  <button id="show_change_log_entries" class="change-log-entries-button">Show/Hide Previous Activity</button>
  <div class="change-log-entries hidden %>">
    <%= will_paginate @change_log_entries %>
    <table>
      <thead>
      <tr>
        <th>User</th>
        <th>Action type</th>
        <th>Description</th>
        <th>Date</th>
      </tr>
      </thead>

      <tbody>
      <% @change_log_entries.each do |change_log_entry| %>
        <tr>
          <td><%= change_log_entry.user.name %></td>
          <td><%= change_log_entry.action_type %></td>
          <td><%= change_log_entry.description %></td>
          <td><%= change_log_entry.created_at.strftime('%Y-%m-%d %I:%M:%S %p') %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @change_log_entries %>
  </div>
</div>
