<% content_for :title, 'Import Comments' %>

<h1>Check for updated comments</h1>

<%= form_with(url: comments_do_import_path, method: "put", local: true) do |form| %>
  Import comments data from
  <div class="field">
    <%= form.label :comment_data_source, "Comment data source" %>
    <%= form.collection_select :comment_data_source_id, @comment_data_sources, :id, :data_source_name, :selected => @current_comment_data_source %>
  </div>

  <%= form.submit('Import comments', class: 'btn btn-large btn-primary')%>
<% end %>

<%= link_to 'Back', comments_path %>