<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<%= link_to 'Import comments', comments_import_path %>

<table>
  <thead>
    <tr>
      <th>Source</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Organization</th>
      <th>State</th>
      <th>Comment text</th>
      <th>Attachment url</th>
      <th>Summary</th>
      <th>Status type</th>
      <th>Action needed</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.source_id %></td>
        <td><%= comment.first_name %></td>
        <td><%= comment.last_name %></td>
        <td><%= comment.email %></td>
        <td><%= comment.organization %></td>
        <td><%= comment.state %></td>
        <td><%= comment.comment_text %></td>
        <td><%= comment.attachment_url %></td>
        <td><%= comment.summary %></td>
        <td><%= comment.status_type_id %></td>
        <td><%= comment.action_needed %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
      </tr>
    <% end %>
  </tbody>
</table>