<% content_for :title, 'Push Import New Comment' %>
<%= form_with(model: @comment, local: true, url: comments_do_push_import_url) do |form| %>

  <h1>Push Import New Comment</h1>

  <div class="field">
    <%= form.label :rulemaking_id, "Rulemaking ID" %>
    <%= form.text_field :rulemaking_id, id: :rulemaking_id  %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :comment_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :comment_last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :comment_email %>
  </div>

  <div class="field">
    <%= form.label :organization %>
    <%= form.text_field :organization, id: :comment_organization %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :comment_state %>
  </div>

  <div class="field">
    <%= form.label :comment_text %>
    <%= form.text_area :comment_text, id: :comment_comment_text, cols: 300, rows: 5, class: 'bigtextarea' %>
  </div>

  <div class="field">
    <%= form.file_field :attached_files, multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "btn btn-large btn-primary" %>
  </div>
<% end %>