<% content_for :title, 'Show Comment' %>

<h1>Comment Details</h1>

<div class="next-previous">
  <div>
    Filter: <%= @filtered ? @filter_querystring : 'none' %>
    <%= link_to 'Edit', comments_path(@filter_querystring) %>
  </div>

  <div>
    <%= link_to("Previous Comment", comment_path(@previous_comment,@filter_querystring), class: "btn btn-large btn-primary") if @previous_comment.present? %>
    <%= link_to("Next Comment", comment_path(@next_comment,@filter_querystring), class: "btn btn-large btn-primary") if @next_comment.present? %>
  </div>
</div>

<table class="show">
  <tbody>
    <tr><td>Order in List</td><td><%= @comment.order_in_list%></td></tr>
    <tr><td>Data Source</td><td><%= @comment.manually_entered ? "Manually entered" : "Imported from DAS comments website"%></td></tr>
    <tr><td>Name & Email</td><td><%= "#{@comment.first_name + ' ' if @comment.first_name.present?}#{@comment.last_name}#{' <' + @comment.email + '>' if @comment.email.present?}"%></td>
    <tr><td>Organization and State</td><td><%= "#{@comment.organization + ", " if @comment.organization.present?}#{@comment.state}" %></td>
    <tr><td>Comment</td><td><%= @comment.comment_text%></td>
    <tr><td>Attachment</td><td><%= if @comment.attachment_name.present? then link_to @comment.attachment_name.to_s, @comment.attachment_url end %></td>
    <tr><td>Number of commenters</td><td><%= @comment.num_commenters %></td></tr>
    <tr><td>Summary</td><td><%= @comment.summary %></td></tr>
    <tr><td>Suggested Changes</td><td><% @comment.suggested_changes.order(Arel.sql('LOWER(suggested_change_name)')).each do |sc| %>
        <li><%=link_to sc.suggested_change_name, suggested_change_path(sc) %></li>
      <% end %></td></tr>
    <tr><td>Comment review status</td><td><%= @comment.comment_status_type.status_text if @comment.comment_status_type.present? %></td></tr>
    <tr><td>Notes</td><td class='trix-content'><%= @comment.notes %></td></tr>
  </tbody>
</table>

<%= link_to 'Index', comments_path(@filter_querystring) %>

<div class="change-log-entries-box">
  <button id="show_change_log_entries" class="change-log-entries-button">Show/Hide Previous Activity</button>
  <div class="change-log-entries hidden %>">
    <%= will_paginate @change_log_entries %>
    <table>
      <thead>
      <tr>
        <th>User</th>
        <th>Action type</th>
        <th>Description</th>
        <th>Date</th>
      </tr>
      </thead>

      <tbody>
      <% @change_log_entries.each do |change_log_entry| %>
        <tr>
          <td><%= change_log_entry.user.name %></td>
          <td><%= change_log_entry.action_type %></td>
          <td><%= change_log_entry.description %></td>
          <td><%= change_log_entry.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @change_log_entries %>
  </div>
</div>