<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
Dear <%= @user_to_reset.name %>,
<p>
  A request to reset your password has been received <%= mail_to @reset_by.email, @reset_by.name %>.
  Here is your new login information:
</p>

<div><strong>Web address:</strong> <%= link_to @url, @url %></div>
<div><strong>Username:</strong> <%= @user_to_reset.email %></div>
<div><strong>New password:</strong> <%= @new_password %></div>

<p>You can reset your password by going to <%= link_to "#{password_reset_url}/#{@user_to_reset.reset_password_token}" %> </p>

</body>
</html>