<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
Dear <%= @user.name %>,
<p>
  A request to reset your password in the <%= APPLICATION_NAME %> website has been received.
</p>

<p>
  You can reset your password by copying and pasting this URL into your browser:
  <%= @url %>
</p>
<p>
  This link will be valid for the next <%= pluralize(@hours_to_reset_password,"hour") %>.
  If you don't log in and set up your new password in the next <%= pluralize(@hours_to_reset_password,"hour") %>, no worries.
  You can request an updated link anytime by going to <%= link_to 'Reset Password', password_forgot_url %>
</p>
<p>
  If you didn't submit a request to reset your password, feel free to ignore this email.
</p>

<p>
  <%=@contact_if_questions_msg %>
</p>

</body>
</html>