<%= form_with(model: user_permission, local: true) do |form| %>
  <% if user_permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_permission.errors.count, "error") %> prohibited this user_permission from being saved:</h2>

      <ul>
      <% user_permission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"> <%= @current_rulemaking.rulemaking_name %></div>

  <div class="field">
    <%= form.label :assigned_to_id %>
    <%= form.collection_select :user_id, @users, :id, :name, {}, {class: "selectpicker", "data-live-search" => "true"} %>
  </div>

  <% if false #DEBUG%>
  <div class="field">
    <%= form.label :admin %>
    <%= form.check_box :admin, id: :user_permission_admin %>
  </div>

  <div class="field">
    <%= form.label :read_only %>
    <%= form.check_box :read_only, id: :user_permission_read_only %>
  </div>
  <% end %>


  <div class="field">
    <%= form.label :permission_type %><br />
    <%= form.label :permission_type, "Admin" %>
    <%= form.radio_button :permission_type, "admin", checked: user_permission.admin?  %>
    <%= form.label :permission_type, "Regular" %>
    <%= form.radio_button :permission_type, "regular", checked: (!user_permission.admin? && !user_permission.read_only?) %>
    <%= form.label :permission_type, "Read Only" %>
    <%= form.radio_button :permission_type, "read only", checked: (user_permission.read_only?) %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
