<% content_for :title, 'User Permissions' %>

<h1>User Permissions</h1>

<table>
  <thead>
    <tr>
      <th>Rulemaking</th>
      <th>User</th>
      <th>Admin</th>
      <th>Read only</th>
      <% if current_user.admin_for?(current_rulemaking) %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @user_permissions.each do |user_permission| %>
      <tr>
        <td><%= user_permission.rulemaking.rulemaking_name %></td>
        <td><%= user_permission.user.name %></td>
        <td class="<%="#{highlight_true(user_permission.admin?)}"%>"><%= show_boolean_value(user_permission.admin?) %></td>
        <td class="<%="#{highlight_true(user_permission.read_only?)}"%>"><%= show_boolean_value(user_permission.read_only?) %></td>
        <% if current_user.admin_for?(current_rulemaking) %>
          <td><%= link_to 'Edit', edit_user_permission_path(user_permission) %></td>
          <td><%= link_to 'Delete', user_permission, method: :delete, data: { confirm: "Are you sure you want to delete permissions for #{user_permission.user.name} for #{user_permission.rulemaking.rulemaking_name}?" } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Permission', new_user_permission_path %>
