<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :active %>
    <%= f.check_box :active, disabled: locals[:edit_profile] %>
  </div>
  <div class="field">
    <%= f.label :read_only %>
    <%= f.check_box :read_only, disabled: locals[:edit_profile] %>
  </div>
  <div class="field">
    <%= f.label :admin %>
    <%= f.check_box :admin, disabled: locals[:edit_profile] %>
  </div>

  <% if locals[:first_user] %>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit locals[:new_user] ? "Add User" : "Submit", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
