<% provide(:title, 'Forgot Password') %>
<div class="col-md-4">
  <h1>Forgot your password?</h1>
  <%= form_tag password_forgot_path do %>
    <div class="field">
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email]%>
    </div>
    <%= submit_tag "Have a password reset email sent to you", class: "btn btn-large btn-primary" %>
  <% end %>
  <p>New user? Email <%=mail_to "westersund.joe@deq.state.or.us", "Joe Westersund" %> to be added to the system.</p>
</div>