<%= form_with(model: suggested_change, local: true, url: form_url) do |form| %>
  <% if suggested_change.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(suggested_change.errors.count, "error") %> prohibited this suggested_change from being saved:</h2>

      <ul>
      <% suggested_change.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <% if @suggested_change.comments.any? %>
      <%= link_to("Comments associated with this suggested change: #{comments_and_commenters_text(@suggested_change)}", comments_path({suggested_change_id: @suggested_change.id})) %>
    <% else %>
      Comments associated with this suggested change: none
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "btn btn-large btn-primary" %>
  </div>

  <div class="field">
    <%= form.label :suggested_change_name %>
    <%= form.text_field :suggested_change_name, id: :suggested_change_suggested_change_name, class:'long' %>
  </div>

  <div class="text-from-comments-box">
    <button id="show_text_from_comments" class="text-from-comments-button">Show/Hide Text from associated comments</button>
    <div class="text-from-comments hidden %>">
      <div class="field">
        <%= form.label :text_from_comments %>
        <%= form.trix_editor :text_from_comments, id: :suggested_change_text_from_comments %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :suggested_change_description %>
    <%= form.text_area :description, id: :suggested_change_description, cols: 300, rows: 3, class: 'bigtextarea' %>
  </div>

  <div class="field">
    <%= form.label :suggested_change_response_type, "Agency response type" %>
    <%= form.collection_select :suggested_change_response_type_id, @suggested_change_response_types, :id, :response_text, :selected => @suggested_change.suggested_change_response_type_id, include_blank: true  %>
  </div>

  <div class="field">
    <%= form.label :response_text %>
    <%= form.text_area :response_text, id: :suggested_change_response_text, cols: 300, rows: 7, class: 'bigtextarea' %>
  </div>

  <div class="field">
    <%= form.label :assigned_to_id %>
    <%= form.collection_select :assigned_to_id, @users, :id, :name, {include_blank: true}, {class: "selectpicker", "data-live-search" => "true"}  %>
  </div>

  <div class="field">
    <%= form.label :suggested_change_review_status %>
    <%= form.collection_select :suggested_change_status_type_id, @suggested_change_status_types, :id, :status_text, {prompt: true} %>
  </div>

  <div class="field">
    <%= form.label :rule_change_made, "Rule change made?", title: "Checked if the draft rule language has been updated to include the suggested change." %>
    <%= form.check_box :rule_change_made, id: :suggested_change_rule_change_made %>
  </div>

  <div class="field">
    <%= form.label :action_needed %>
    <%= form.text_field :action_needed, id: :suggested_change_action_needed, class:'long' %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.trix_editor :notes, id: :suggested_change_notes %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
