<%= form_with(model: category, local: true, url: form_url) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <% if @category.comments.any? %>
      <%= link_to("Comments associated with this category: #{comments_and_commenters_text(@category)}", comments_path({category_id: @category.id})) %>
    <% else %>
      Comments associated with this category: none
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "btn btn-large btn-primary" %>
  </div>

  <div class="field">
    <%= form.label :category_name %>
    <%= form.text_field :category_name, id: :category_category_name, class:'long' %>
  </div>

  <div class="text-from-comments-box">
    <button id="show_text_from_comments" class="text-from-comments-button">Show/Hide Text from associated comments</button>
    <div class="text-from-comments hidden %>">
      <div class="field">
        <%= form.label :text_from_comments %>
        <%= form.trix_editor :text_from_comments, id: :category_text_from_comments %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :category_description %>
    <%= form.text_area :description, id: :category_description, cols: 300, rows: 3, class: 'bigtextarea' %>
  </div>

  <div class="field">
    <%= form.label :category_response_type, "DEQ/OHA response type" %>
    <%= form.collection_select :category_response_type_id, @category_response_types, :id, :response_text, :selected => @category.category_response_type_id, include_blank: true  %>
  </div>

  <div class="field">
    <%= form.label :response_text %>
    <%= form.text_area :response_text, id: :category_response_text, cols: 300, rows: 7, class: 'bigtextarea' %>
  </div>

  <div class="field">
    <%= form.label :assigned_to_id %>
    <%= form.collection_select :assigned_to_id, @users, :id, :name, :selected => @category.assigned_to_id, include_blank: true  %>
  </div>

  <div class="field">
    <%= form.label :category_review_status %>
    <%= form.collection_select :category_status_type_id, @category_status_types, :id, :status_text, :selected => @category.category_status_type_id, prompt: true  %>
  </div>

  <div class="field">
    <%= form.label :rule_change_made, "Rule change made?", title: "Checked if the draft rule language has been updated to include the suggested change." %>
    <%= form.check_box :rule_change_made, id: :category_rule_change_made %>
  </div>

  <div class="field">
    <%= form.label :action_needed %>
    <%= form.text_field :action_needed, id: :category_action_needed, class:'long' %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.trix_editor :notes, id: :category_notes %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
