<% content_for :title, 'Suggested Changes' %>

<h1>Suggested Changes</h1>

<div class="links"><%= @total_suggested_changes %> suggested changes identified</div>

<div class="links">
  <% if current_user.can_edit?(current_rulemaking) %>
    <%= link_to 'New Suggested Change', new_suggested_change_path %> |
  <% end %>
    Download as <%= link_to "CSV", suggested_changes_path(@filter_querystring.merge({format: "csv"})) %>
    or <%= link_to "XLSX", excel_download_instructions_link(SuggestedChange,@filter_querystring) %>
</div>

<div class="filter-box">
  <button id="show_filter" class="filter-button">Show/Hide Filter</button>
  <div class="filter <%="hidden" unless @filtered %>">
    <%= form_tag request.path, method: 'get' do %>
      <div class="field">
        <%= label_tag :suggested_change_name  %>
        <%= text_field_tag :suggested_change_name, params[:suggested_change_name] %>
      </div>
      <div class="field">
        <%= label_tag :text_from_comments  %>
        <%= text_field_tag :text_from_comments, params[:text_from_comments] %>
      </div>
      <div class="field">
        <%= label_tag :description  %>
        <%= text_field_tag :description, params[:description] %>
      </div>
      <div class="field">
        <%= label_tag :commenter, 'Commenter' %>
        <%= select_tag :comment_id, options_from_collection_for_select(@comments,:id,:key_info,params[:comment_id]), { :include_blank => true, class: "selectpicker", "data-live-search" => "true" } %>
      </div>
      <div class="field">
        <%= label_tag :status %>
        <%= select_tag :suggested_change_status_type_id, options_from_collection_for_select(@suggested_change_status_types,:id,:status_text,params[:suggested_change_status_type_id]), { :include_blank => true, class: "selectpicker", "data-live-search" => "true" } %>
      </div>
      <div class="field">
        <%= label_tag :response_type, 'Agency response type' %>
        <%= select_tag :suggested_change_response_type_id, options_from_collection_for_select(@suggested_change_response_types,:id,:response_text,params[:suggested_change_response_type_id]), { :include_blank => true, class: "selectpicker", "data-live-search" => "true" } %>
      </div>
      <div class="field">
        <%= label_tag :response_text  %>
        <%= text_field_tag :response_text, params[:response_text] %>
      </div>
      <div class="field">
        <%= label_tag :assigned_to_id %>
        <%= select_tag :assigned_to_id, options_from_collection_for_select(@users,:id,:name,params[:assigned_to_id]), { :include_blank => true, class: "selectpicker", "data-live-search" => "true" } %>
      </div>
      <div class="field">
        <%= label_tag :rule_change_made  %>
        <%= check_box_tag :rule_change_made, params[:rule_change_made], params[:rule_change_made] == "on" %>
      </div>
      <div class="field">
        <%= label_tag :action_needed  %>
        <%= text_field_tag :action_needed, params[:action_needed] %>
      </div>
      <div class="field">
        <%= label_tag :notes  %>
        <%= text_field_tag :notes, params[:notes] %>
      </div>
      <div class="actions">
        <%= submit_tag "Search" %>
        <%= button_tag 'Clear Filter', {:type => 'reset', id: "clear_filter"} %>
      </div>
    <% end %>
  </div>
</div>

<%= will_paginate @suggested_changes %>
<table>
  <thead>
    <tr>
      <th>Suggested Change name</th>
      <th>Suggested Change description</th>
      <th>Comments</th>
      <th>Suggested Change review status</th>
      <th>Agency response type</th>
      <th>Response text</th>
      <th>Assigned to</th>
      <th>Action needed</th>
      <th>Notes</th>
      <th colspan="<%= current_user.can_edit?(current_rulemaking) ? 2 : 1 %>"></th>
    </tr>
  </thead>

  <tbody>
    <% @suggested_changes.each_with_index do |suggested_change,index| %>
      <tr>
        <td><%= suggested_change.suggested_change_name %></td>
        <td><%= suggested_change.description.truncate(500) if suggested_change.description.present? %></td>
        <td>
          <% if suggested_change.comments.count > 10 %>
            <div >
              <%= link_to("#{suggested_change.comments.count} comments", comments_path(suggested_change_id: suggested_change.id)) %>
            </div>
          <% else %>
            <% suggested_change.comments.each_with_index do |c, index| %>
              <div class="<%= index == 0 ? "" : 'separate' %>">
                <%= link_to(c.key_info, current_user.can_edit?(current_rulemaking) ? edit_comment_path(c) : comment_path(c)) %>
              </div>
            <% end %>
          <% end %>
        </td>
        <td class="<%= color_class(suggested_change.suggested_change_status_type)%>"><%= suggested_change.suggested_change_status_type.status_text if suggested_change.suggested_change_status_type.present? %></td>
        <td class="<%= color_class(suggested_change.suggested_change_response_type)%>"><%= suggested_change.suggested_change_response_type.response_text if suggested_change.suggested_change_response_type.present? %></td>
        <td class="<%= highlight_empty_css(suggested_change.response_text)%>"><%= suggested_change.response_text.truncate(500) if suggested_change.response_text.present? %></td>
        <td class="<%= assigned_to_css(suggested_change.assigned_to_id) %>"><%= suggested_change.assigned_to_name %></td>
        <td class="<%= highlight_filled_css(suggested_change.action_needed)%>"><%= suggested_change.action_needed.truncate(300) if suggested_change.action_needed.present? %></td>
        <td class="trix-content"><%= raw(truncate_html(suggested_change.notes, length:500)) if suggested_change.notes.present? %></td>
        <% if current_user.can_edit?(current_rulemaking) %>
          <td><%= link_to 'Edit', edit_suggested_change_path(suggested_change,@filter_querystring) %></td>
          <td><%= link_to 'Delete', suggested_change, method: :delete, data: { confirm: "Are you sure you want to delete '#{suggested_change.suggested_change_name}'?" } %></td>
        <% else %>
          <td><%= link_to 'Show', suggested_change_path(suggested_change,@filter_querystring) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @suggested_changes %>
<br>
<div class="links">
  <%= link_to 'New Suggested Change', new_suggested_change_path %>
</div>