<% content_for :title, 'Merge Preview' %>

<h1>Suggested Change Merge Preview</h1>

<% suggested_changes_to_show = [{title:"From Suggested Change- will be deleted after merge", suggested_change:@from_suggested_change},
                         {title:"To Suggested Change- Before merge", suggested_change:@to_suggested_change}]
   suggested_changes_to_show.each do |cat_item|
%>
  <div>
    <table class="show">
      <tbody>
      <tr><th colspan="2"><%=cat_item[:title]%></th></tr>
      <tr><td>Comments associated with this Suggested Change</td>
        <td><% if cat_item[:suggested_change].comments.any? %>
            <%= cat_item[:suggested_change].comments.count %>
          <% else %>
            none
          <% end %>
        </td>
      </tr>
      <tr><td>Suggested Change name</td><td><%= cat_item[:suggested_change].suggested_change_name %></td></tr>
      <tr><td>Text from comments</td><td><%= raw(cat_item[:suggested_change].text_from_comments) %></td></tr>
      <tr><td>Description</td><td><%= cat_item[:suggested_change].description %></td></tr>
      <tr><td>Suggested Change response type</td><td><%= cat_item[:suggested_change].suggested_change_response_type.response_text if cat_item[:suggested_change].suggested_change_response_type.present? %></td>
      <tr><td>Response text</td><td><%= cat_item[:suggested_change].response_text %></td>
      <tr><td>Assigned to</td><td><%= cat_item[:suggested_change].assigned_to_name if cat_item[:suggested_change].assigned_to.present? %></td>
      <tr><td>Suggested Change review status</td><td><%= cat_item[:suggested_change].suggested_change_status_type.status_text if cat_item[:suggested_change].suggested_change_status_type.present? %></td></tr>
      <tr><td>Rule change made?</td><td><%= show_boolean_value(cat_item[:suggested_change].rule_change_made) %></td></tr>
      <tr><td>Action needed</td><td><%= cat_item[:suggested_change].action_needed %></td>
      <tr><td>Notes</td><td><%= raw(cat_item[:suggested_change].notes) %></td>
      </tbody>
    </table>
  </div>
<% end %>

<div>
  <table class="show">
    <tbody>
    <tr><th>Preview of merged Suggested Change</th></tr>
    <tr><td>
      <%= form_with(model: @preview_of_merged_suggested_change, local: true, url: suggested_changes_do_merge_path(@to_suggested_change, @from_suggested_change )) do |form| %>

        <% if @preview_of_merged_suggested_change.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@preview_of_merged_suggested_change.errors.count, "error") %> prohibited this suggested change from being saved:</h2>

            <ul>
              <% @preview_of_merged_suggested_change.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>


        <div class="field">
          <% if @preview_of_merged_suggested_change.comments.any? %>
            <%= "Comments associated with this suggested change: #{@preview_of_merged_suggested_change.comments.size}" %>
            <ul>
              <% @comment_source.each do |comment_item|
                if comment_item[:comment_count] > 0 %>
                  <li><%= comment_item[:comment_count]%> that were <%= comment_item[:source]%></li>
                <% end
               end %>
            </ul>
          <% else%>
            Comments associated with this suggested change: none
          <% end %>
        </div>

        <div class="field">
          <%= form.label :suggested_change_name %>
          <%= form.text_field :suggested_change_name, id: :suggested_change_suggested_change_name, class:'long' %>
        </div>

        <div class="text-from-comments-box">
          <button id="show_text_from_comments" class="text-from-comments-button">Show/Hide Text from associated comments</button>
          <div class="text-from-comments hidden %>">
            <div class="field">
              <%= form.label :text_from_comments %>
              <%= form.trix_editor :text_from_comments, id: :suggested_change_text_from_comments %>
            </div>
          </div>
        </div>

        <div class="field">
          <%= form.label :suggested_change_description %>
          <%= form.text_area :description, id: :suggested_change_description, cols: 300, rows: 3, class: 'bigtextarea' %>
        </div>

        <div class="field">
          <%= form.label :suggested_change_response_type, "DEQ/OHA response type" %>
          <%= form.collection_select :suggested_change_response_type_id, @suggested_change_response_types, :id, :response_text, :selected => @preview_of_merged_suggested_change.suggested_change_response_type_id, include_blank: true  %>
        </div>

        <div class="field">
          <%= form.label :response_text %>
          <%= form.text_area :response_text, id: :suggested_change_response_text, cols: 300, rows: 7, class: 'bigtextarea' %>
        </div>

        <div class="field">
          <%= form.label :assigned_to_id %>
          <%= form.collection_select :assigned_to_id, @users, :id, :name, :selected => @preview_of_merged_suggested_change.assigned_to_id, include_blank: true  %>
        </div>

        <div class="field">
          <%= form.label :suggested_change_review_status %>
          <%= form.collection_select :suggested_change_status_type_id, @suggested_change_status_types, :id, :status_text, :selected => @preview_of_merged_suggested_change.suggested_change_status_type_id, prompt: true  %>
        </div>

        <div class="field">
          <%= form.label :rule_change_made, "Rule change made?", title: "Checked if the draft rule language has been updated to include the suggested change." %>
          <%= form.check_box :rule_change_made, id: :suggested_change_rule_change_made %>
        </div>

        <div class="field">
          <%= form.label :action_needed %>
          <%= form.text_field :action_needed, id: :suggested_change_action_needed, class:'long' %>
        </div>

        <div class="field">
          <%= form.label :notes %>
          <%= form.trix_editor :notes, id: :suggested_change_notes %>
        </div>

        <div class="actions">
          <%= form.submit "Save Merged Suggested Change", class: "btn btn-large btn-primary" %>
        </div>
      <% end %>
    </td></tr>
    </tbody>
  </table>
</div>
<%= link_to 'Back', suggested_changes_merge_path %>