<% content_for :title, 'Show Suggested Change Status Type' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Status text:</strong>
  <%= @suggested_change_status_type.status_text %>
</p>

<p>
  <strong>Order in list:</strong>
  <%= @suggested_change_status_type.order_in_list %>
</p>

<%= link_to 'Edit', edit_suggested_change_status_type_path(@suggested_change_status_type) %> |
<%= link_to 'Back', suggested_change_status_types_path %>
