<%= form_with(model: comment_tone_type, local: true) do |form| %>
  <% if comment_tone_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment_tone_type.errors.count, "error") %> prohibited this comment_tone_type from being saved:</h2>

      <ul>
      <% comment_tone_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tone_text %>
    <%= form.text_field :tone_text, id: :comment_tone_type_tone_text %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
