<h1>Comment Tone Types</h1>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Tone text</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @comment_tone_types.each_with_index do |comment_tone_type,index| %>
      <tr>
        <td class="<%= status_css(comment_tone_type)%>" ><%= comment_tone_type.order_in_list %></td>
        <td><%= comment_tone_type.tone_text %></td>
        <td><%= link_to 'Edit', edit_comment_tone_type_path(comment_tone_type) %></td>
        <td><%= link_to 'Delete', comment_tone_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= (link_to 'Move Up', "/comment_tone_types/#{comment_tone_type.id}/move_up", method: :post) unless index == 0 %></td>
        <td><%= (link_to 'Move Down', "/comment_tone_types/#{comment_tone_type.id}/move_down", method: :post) unless index == @comment_tone_types.count-1 %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment Tone Type', new_comment_tone_type_path %>
