<h1>Comment Status Types</h1>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Status text</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @comment_status_types.each_with_index do |comment_status_type,index| %>
      <tr>
        <td class="<%= status_css(comment_status_type)%>" ><%= comment_status_type.order_in_list %></td>
        <td><%= comment_status_type.status_text %></td>
        <td><%= link_to 'Edit', edit_comment_status_type_path(comment_status_type) %></td>
        <td><%= link_to 'Delete', comment_status_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= (link_to 'Move Up', "/comment_status_types/#{comment_status_type.id}/move_up", method: :post) unless index == 0 %></td>
        <td><%= (link_to 'Move Down', "/comment_status_types/#{comment_status_type.id}/move_down", method: :post) unless index == @comment_status_types.count-1 %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment Status Type', new_comment_status_type_path %>
