<%= form_with(model: suggested_change_response_type, local: true) do |form| %>
  <% if suggested_change_response_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(suggested_change_response_type.errors.count, "error") %> prohibited this suggested_change_response_type from being saved:</h2>

      <ul>
      <% suggested_change_response_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :response_text %>
    <%= form.text_field :response_text, id: :suggested_change_response_type_response_text %>
  </div>

  <div class="field">
    <%= form.label :color_name %>
    <%= form.select("color_id", options_from_collection_for_select(@color_category_and_names_list, :first, :last, get_color_id(suggested_change_response_type.color_name)), {include_blank: true}, {class: "selectpicker", "data-live-search" => "true"} )  %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
