<% content_for :title, 'Suggested Change Response Types' %>
<h1>Suggested Change Response Types</h1>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Response text</th>
      <th>Color</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @suggested_change_response_types.each_with_index do |suggested_change_response_type,index| %>
      <tr>
        <td><%= suggested_change_response_type.order_in_list %></td>
        <td><%= suggested_change_response_type.response_text %></td>
        <td class="<%= color_class(suggested_change_response_type)%>"><%= suggested_change_response_type.color_name %></td>
        <td><%= link_to 'Edit', edit_suggested_change_response_type_path(suggested_change_response_type) %></td>
        <td><%= link_to 'Delete', suggested_change_response_type, data: { "turbo-confirm": 'Are you sure?', "turbo-method": :delete } %></td>
        <td><%= (link_to 'Move Up', "/suggested_change_response_types/#{suggested_change_response_type.id}/move_up", data: {"turbo-method": :post}) unless index == 0 %></td>
        <td><%= (link_to 'Move Down', "/suggested_change_response_types/#{suggested_change_response_type.id}/move_down", data: {"turbo-method": :post}) unless index == @suggested_change_response_types.count-1 %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Suggested Change Response Type', new_suggested_change_response_type_path %>
