<%= form_with(model: category, local: true, url: form_url) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category_name %>
    <%= form.text_field :category_name, id: :category_category_name %>
  </div>

  <div class="field">
    <%= form.label :category_description %>
    <%= form.text_area :description, id: :category_description, cols: 300, rows: 3, class: 'bigtextarea' %>
  </div>

  <div class="field">
    <%= form.label :category_response_type %>
    <%= form.collection_select :category_response_type_id, @category_response_types, :id, :response_text, :selected => @category.category_response_type_id, include_blank: true  %>
  </div>

  <div class="field">
    <%= form.label :response_text %>
    <%= form.text_area :response_text, id: :category_response_text, cols: 300, rows: 5, class: 'bigtextarea' %>
  </div>

  <div class="field">
    <%= form.label :assigned_to %>
    <%= form.collection_select :assigned_to, @users, :id, :name, :selected => @category.assigned_to, include_blank: true  %>
  </div>

  <div class="field">
    <%= form.label :category_review_status %>
    <%= form.collection_select :category_status_type_id, @category_status_types, :id, :status_text, :selected => @category.category_status_type_id, prompt: true  %>
  </div>

  <div class="field">
    <%= form.label :rule_change_required %>
    <%= form.check_box :rule_change_required, id: :category_rule_change_required %>
  </div>

  <div class="field">
    <%= form.label :action_needed %>
    <%= form.text_field :action_needed, id: :category_action_needed %>
  </div>

  <div class="actions">
    <%= form.submit "Save" %>
  </div>
<% end %>
