<h1>Edit Category</h1>

<div class="next-previous">
  <div>
    Filter: <%= @filtered ? @filter_querystring : 'none' %>
    <%= link_to 'Edit', categories_path(@filter_querystring) %>
  </div>

  <div>
    <%= link_to("Previous Category", edit_category_path(@previous_category,@filter_querystring), class: "btn btn-large btn-primary") if @previous_category.present? %>
    <%= link_to("Next Category", edit_category_path(@next_category,@filter_querystring), class: "btn btn-large btn-primary") if @next_category.present? %>
  </div>
</div>

<%= render 'form', category: @category, form_url: category_path(@category,@filter_querystring) %>

<%= link_to 'Index', categories_path %>
