<% content_for :title, 'Edit Category' %>
<h1>Edit Category</h1>

<div class="links">
  <%= link_to 'New Category', new_category_path %>
</div>

<div class="next-previous">
  <div>
    Filter: <%= @filtered ? @filter_querystring : 'none' %>
    | <%= link_to 'Back to Index', categories_path(@filter_querystring) %>
  </div>

  <div>
    <%= link_to("Previous Category", edit_category_path(@previous_category,@filter_querystring), class: "btn btn-large btn-primary") if @previous_category.present? %>
    <%= link_to("Next Category", edit_category_path(@next_category,@filter_querystring), class: "btn btn-large btn-primary") if @next_category.present? %>
  </div>
</div>

<%= render 'form', category: @category, form_url: category_path(@category,@filter_querystring) %>

<%= link_to 'Index', categories_path %>

<div class="change-log-entries-box">
  <button id="show_change_log_entries" class="change-log-entries-button">Show/Hide Previous Activity</button>
    <div class="change-log-entries hidden %>">
      <%= will_paginate @change_log_entries %>
      <table>
        <thead>
        <tr>
          <th>User</th>
          <th>Action type</th>
          <th>Description</th>
          <th>Date</th>
        </tr>
        </thead>

        <tbody>
        <% @change_log_entries.each do |change_log_entry| %>
          <tr>
            <td><%= change_log_entry.user.name %></td>
            <td><%= change_log_entry.action_type %></td>
            <td><%= change_log_entry.description %></td>
            <td><%= change_log_entry.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= will_paginate @change_log_entries %>
    </div>
</div>