<% content_for :title, 'Categories' %>

<h1>Categories</h1>

<div class="links"><%= @total_categories %> categories identified</div>

<div class="links">
  <%= link_to 'New Category', new_category_path %>
    | Download as <%= link_to "CSV", categories_path(@filter_querystring.merge({format: "csv"})) %>
    or <%= link_to "XLSX", categories_path(@filter_querystring,format: "xlsx") %>
</div>

<div class="filter-box">
  <button id="show_filter" class="filter-button">Show/Hide Filter</button>
  <div class="filter <%="hidden" unless @filtered %>">
    <%= form_tag request.path, method: 'get' do %>
      <div class="field">
        <%= label_tag :category_name  %>
        <%= text_field_tag :category_name, params[:category_name] %>
      </div>
      <div class="field">
        <%= label_tag :text_from_comments  %>
        <%= text_field_tag :text_from_comments, params[:text_from_comments] %>
      </div>
      <div class="field">
        <%= label_tag :description  %>
        <%= text_field_tag :description, params[:description] %>
      </div>
      <div class="field">
        <%= label_tag :status %>
        <%= select_tag :category_status_type_id, options_from_collection_for_select(@category_status_types,:id,:status_text,params[:category_status_type_id]), { :include_blank => true, class: "selectpicker", "data-live-search" => "true" } %>
      </div>
      <div class="field">
        <%= label_tag :response_type, 'DEQ/OHA response type' %>
        <%= select_tag :category_response_type_id, options_from_collection_for_select(@category_response_types,:id,:response_text,params[:category_response_type_id]), { :include_blank => true, class: "selectpicker", "data-live-search" => "true" } %>
      </div>
      <div class="field">
        <%= label_tag :response_text  %>
        <%= text_field_tag :response_text, params[:response_text] %>
      </div>
      <div class="field">
        <%= label_tag :assigned_to_id %>
        <%= select_tag :assigned_to_id, options_from_collection_for_select(@users,:id,:name,params[:assigned_to_id]), { :include_blank => true, class: "selectpicker", "data-live-search" => "true" } %>
      </div>
      <div class="field">
        <%= label_tag :rule_change_made  %>
        <%= check_box_tag :rule_change_made, params[:rule_change_made], params[:rule_change_made] == "on" %>
      </div>
      <div class="field">
        <%= label_tag :action_needed  %>
        <%= text_field_tag :action_needed, params[:action_needed] %>
      </div>
      <div class="field">
        <%= label_tag :notes  %>
        <%= text_field_tag :notes, params[:notes] %>
      </div>
      <div class="actions">
        <%= submit_tag "Search" %>
        <%= button_tag 'Clear Filter', {:type => 'reset', id: "clear_filter"} %>
      </div>
    <% end %>
  </div>
</div>

<%= will_paginate @categories %>
<table>
  <thead>
    <tr>
      <th>Category name</th>
      <th>Category description</th>
      <th>Category review status</th>
      <th>DEQ/OHA response type</th>
      <th>Response text</th>
      <th>Assigned to</th>
      <th>Action needed</th>
      <th>Notes</th>
      <th colspan="<%= current_user.read_only? ? 1 : 2 %>"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each_with_index do |category,index| %>
      <tr>
        <td><%= category.category_name %></td>
        <td><%= category.description.truncate(500) if category.description.present? %></td>
        <td class="<%= status_css(category.category_status_type)%>"><%= category.category_status_type.status_text if category.category_status_type.present? %></td>
        <td class="<%= response_css(category.category_response_type)%>"><%= category.category_response_type.response_text if category.category_response_type.present? %></td>
        <td class="<%= highlight_empty_css(category.response_text)%>"><%= category.response_text.truncate(500) if category.response_text.present? %></td>
        <td class="<%= assigned_to_css(category.assigned_to_id) %>"><%= category.assigned_to_name %></td>
        <td class="<%= highlight_filled_css(category.action_needed)%>"><%= category.action_needed.truncate(300) if category.action_needed.present? %></td>
        <td class="trix-content"><%= raw(category.notes.truncate(500)) if category.notes.present? %></td>
        <% if current_user.read_only? %>
          <td><%= link_to 'Show', category_path(category,@filter_querystring) %></td>
        <% else %>
          <td><%= link_to 'Edit', edit_category_path(category,@filter_querystring) %></td>
          <td><%= link_to 'Delete', category, method: :delete, data: { confirm: "Are you sure you want to delete '#{category.category_name}'?" } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @categories %>
<br>
<div class="links">
  <%= link_to 'New Category', new_category_path %>
</div>