
<h1>Categories</h1>

<table>
  <thead>
    <tr>
      <th>Category name</th>
      <th>Summary</th>
      <th>Response text</th>
      <th>Response by</th>
      <th>Status type</th>
      <th>Action needed</th>
      <th>Order in list</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.category_name %></td>
        <td><%= category.summary %></td>
        <td><%= category.response_text %></td>
        <td><%= User.find(category.response_by).name if category.response_by.present? %></td>
        <td><%= category.category_status_type.status_text if category.category_status_type.present? %></td>
        <td><%= category.action_needed %></td>
        <td><%= category.order_in_list %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @categories %>
<br>

<%= link_to 'New Category', new_category_path %>
