<h1>Category Details</h1>

<div class="next-previous">
  <div>
    Filter: <%= @filtered ? @filter_querystring : 'none' %>
    <%= link_to 'Edit', categories_path(@filter_querystring) %>
  </div>

  <div>
    <%= link_to("Previous Category", category_path(@previous_category,@filter_querystring), class: "btn btn-large btn-primary") if @previous_category.present? %>
    <%= link_to("Next Category", category_path(@next_category,@filter_querystring), class: "btn btn-large btn-primary") if @next_category.present? %>
  </div>
</div>

<table class="show">
  <tbody>
    <tr><td>Comments associated with this category</td>
      <td><% if @category.comments.any? %>
          <%= link_to comments_and_commenters_text(@category), comments_path({category_id: @category.id}) %>
        <% else %>
          none
        <% end %>
      </td>
    </tr>
    <tr><td>Category name</td><td><%= @category.category_name %></td></tr>
    <tr><td>Description</td><td><%= @category.description %></td></tr>
    <tr><td>Category response type</td><td><%= @category.category_response_type.response_text if @category.category_response_type.present? %></td>
    <tr><td>Response text</td><td><%= @category.response_text %></td>
    <tr><td>Assigned to</td><td><%= @category.assigned_to_name if @category.assigned_to.present? %></td>
    <tr><td>Category review status</td><td><%= @category.category_status_type.status_text if @category.category_status_type.present? %></td></tr>
    <tr><td>Rule change made?</td><td><%= show_boolean_value(@category.rule_change_made) %></td></tr>
    <tr><td>Action needed</td><td><%= @category.action_needed %></td>
  </tbody>
</table>

<%= link_to 'Index', categories_path(@filter_querystring) %>

<div class="change-log-entries-box">
  <button id="show_change_log_entries" class="change-log-entries-button">Show/Hide Previous Activity</button>
  <div class="change-log-entries hidden %>">
    <%= will_paginate @change_log_entries %>
    <table>
      <thead>
      <tr>
        <th>User</th>
        <th>Action type</th>
        <th>Description</th>
        <th>Date</th>
      </tr>
      </thead>

      <tbody>
      <% @change_log_entries.each do |change_log_entry| %>
        <tr>
          <td><%= change_log_entry.user.name %></td>
          <td><%= change_log_entry.action_type %></td>
          <td><%= change_log_entry.description %></td>
          <td><%= change_log_entry.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @change_log_entries %>
  </div>
</div>