<% content_for :title, 'Stats- status' %>

<h1>Stats - by comment and category status</h1>

<span class="inline">
  <table>
    <thead>
    <tr>
      <th colspan="2">Comments by Status</th>
    </tr>
    <tr>
      <th>Comment Status Type</th>
      <th># of Comments</th>
    </tr>
    </thead>

    <tbody>
    <% @comments_by_status_type.each do |row| %>
      <tr>
        <td><%= link_to row.status_text, comments_path({comment_status_type_id: row.id}) %></td>
        <td><%= row.num_comments %></td>
      </tr>
    <% end %>
      <tr>
        <td><%= link_to "Total", comments_path %></td>
        <td><%= @total_comments %></td>
      </tr>
    </tbody>
</table>
</span>

<span class="inline">
  <table>
    <thead>
    <tr>
      <th colspan="2">Categories by Status</th>
    </tr>
    <tr>
      <th>Category Status Type</th>
      <th># of Categories</th>
    </tr>
    </thead>

    <tbody>
    <% @categories_by_status_type.each do |row| %>
      <tr>
        <td><%= link_to row.status_text, categories_path({category_status_type_id: row.id}) %></td>
        <td><%= row.num_categories %></td>
      </tr>
    <% end %>
    <tr>
      <td><%= link_to "Total", categories_path %></td>
      <td><%= @total_categories %></td>
    </tr>
    </tbody>
  </table>
</span>