<%# add navigation links to this file %>
<% if signed_in? %>
  <li class="nav navbar-nav"><%= link_to glyphicon_link("glyphicon-th-list","Comments").html_safe, comments_path %></li>
  <li class="nav navbar-nav"><%= link_to glyphicon_link("glyphicon-tags","Categories").html_safe, categories_path %></li>
  <% if current_user.admin? %>
    <li id="fat-menu" class="dropdown nav navbar-nav">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <%= glyphicon_link("glyphicon-wrench","Setup").html_safe%> <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li class="nav navbar-nav"><%= link_to "Comment Status Types", comment_status_types_path %></li>
        <li class="nav navbar-nav"><%= link_to "Category Status Types", category_status_types_path %></li>
        <li class="nav navbar-nav"><%= link_to "Users", users_path %></li>
      </ul>
    </li>
  <% end %>
  <li id="fat-menu" class="dropdown nav navbar-nav">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <%= glyphicon_link("glyphicon-user","Account").html_safe%> <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li class="nav navbar-nav"><%= link_to "Edit Profile", profile_edit_path %></li>
      <li class="nav navbar-nav"><%= link_to "Change Password", profile_edit_password_path %></li>
    </ul>
  </li>
  <li class="nav navbar-nav"><%= link_to glyphicon_link("glyphicon-log-out","Log Out").html_safe, signout_path, method: :delete %></li>
<% end %>
