<% help_file = 'https://docs.google.com/document/d/1D8PyA39FPCCvIPf_kt8fP3zBownkA9hqEjb5bhb2y4g/edit?usp=sharing'
  comments_help_bookmark = '#heading=h.xp72q332o3mo'
   suggested_changes_help_bookmark = '#heading=h.wibwm3p0d5zz'
  tips_and_tricks_help_bookmark = '#heading=h.r497g1ushx9t'
%>
<%# add navigation links to this file %>
<% if signed_in? %>
  <% if current_rulemaking.present?%>
    <% if current_user.user_permissions.count == 1 %>
      <li class="nav navbar-nav rulemaking-name"><%= link_to current_rulemaking.rulemaking_name, comments_path %></li>
    <% else %>
      <li id="fat-menu" class="dropdown nav navbar-nav rulemaking-name">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%= current_rulemaking.rulemaking_name %> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <% current_user.user_permissions.each do |up|  %>
            <li class="nav navbar-nav"><%= link_to up.rulemaking.rulemaking_name, rulemakings_switch_path(up.rulemaking), method: :post %></li>
          <% end %>
        </ul>
      </li>
     <% end %>

    <li class="nav navbar-nav"><%= link_to glyphicon_link("glyphicon-th-list","Comments").html_safe, comments_path %></li>
    <li class="nav navbar-nav"><%= link_to glyphicon_link("glyphicon-tags","Suggested Changes").html_safe, suggested_changes_path %></li>

    <li id="fat-menu" class="dropdown nav navbar-nav">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <%= glyphicon_link("glyphicon-signal","Stats").html_safe%> <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li class="nav navbar-nav"><%= link_to "Comments", stats_comments_path %></li>
        <li class="nav navbar-nav"><%= link_to "Suggested Changes", stats_suggested_changes_path %></li>
        <li class="nav navbar-nav"><%= link_to "Recent activity", change_log_entries_path %></li>
      </ul>
    </li>
  <% end %>
  <% if current_user.admin_for?(current_rulemaking) %>
    <li id="fat-menu" class="dropdown nav navbar-nav">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <%= glyphicon_link("glyphicon-cog","Setup").html_safe%> <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li class="nav navbar-nav"><%= link_to "Clean Up Comment Text", comments_cleanup_path %></li>
        <li class="nav navbar-nav"><%= link_to "Comment Status Types", comment_status_types_path %></li>
        <li class="nav navbar-nav"><%= link_to "Suggested Change Status Types", suggested_change_status_types_path %></li>
        <li class="nav navbar-nav"><%= link_to "Suggested Change Response Types", suggested_change_response_types_path %></li>
        <li class="nav navbar-nav"><%= link_to "Renumber Suggested Changes", suggested_changes_renumber_path %></li>
        <li class="nav navbar-nav"><%= link_to "Copy a Suggested Change", suggested_change_copy_path %></li>
        <li class="nav navbar-nav"><%= link_to "Merge Suggested Changes", suggested_changes_merge_path %></li>
        <li class="nav navbar-nav"><%= link_to "Users", users_path %></li>
        <li class="nav navbar-nav"><%= link_to "User Permissions", user_permissions_path %></li>
        <li class="nav navbar-nav"><%= link_to "Comment Data Sources", comment_data_sources_path %></li>
        <% if current_user.application_admin? %>
          <li class="nav navbar-nav"><%= link_to "Rulemakings", rulemakings_path %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
  <li id="fat-menu" class="dropdown nav navbar-nav">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <%= glyphicon_link("glyphicon-user","Account").html_safe%> <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li class="nav navbar-nav"><%= link_to "Edit Profile", profile_edit_path %></li>
      <li class="nav navbar-nav"><%= link_to "Change Password", profile_edit_password_path %></li>
      <li class="nav navbar-nav"><%= link_to glyphicon_link("glyphicon-log-out","Log Out").html_safe, signout_path, method: :delete %></li>
    </ul>
  </li>

  <li id="fat-menu" class="dropdown nav navbar-nav">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <%= glyphicon_link("glyphicon glyphicon-info-sign","Help").html_safe%> <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li class="nav navbar-nav"><%= link_to "For reviewing comments", help_file + comments_help_bookmark, target: :_blank %></li>
      <li class="nav navbar-nav"><%= link_to "For creating and responding to suggested changes", help_file + suggested_changes_help_bookmark, target: :_blank %></li>
      <li class="nav navbar-nav"><%= link_to "Tips and tricks", help_file + tips_and_tricks_help_bookmark, target: :_blank %></li>
    </ul>
  </li>
<% end %>
